/*.rightBlock {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.linkPlan {*/
/*    position: relative;*/
/*    padding-left: 33px;*/
/*}*/
/*.linkPlan a {*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*    line-height: 112.5%;*/
/*    color: #0090F2;*/
/*    border-bottom: 1px dashed;*/
/*}*/
/*.linkPlan:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    background-image: url("/img/icons/pdf-icon.svg");*/
/*    width: 26px;*/
/*    height: 35px;*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/


/*.schedule {*/
/*    !*margin-top: 75px;*!*/
/*}*/
/*.schedule__top {*/
/*    width: 50%;*/
/*    margin-bottom: 64px;*/
/*}*/
/*.schedule__title {*/
/*    font-size: 40px;*/
/*    line-height: 45px;*/
/*    margin-bottom: 27px;*/
/*}*/
/*.schedule__text {*/
/*    font-size: 14px;*/
/*    line-height: 21px;*/
/*}*/
/*.schedule__form {*/
/*    width: 75%;*/
/*    margin-bottom: 99px;*/
/*}*/
/*.schedule__form-item {*/
/*    background: #F4F4F4;*/
/*    padding: 0 28px 35px;*/
/*    margin-bottom: 35px;*/
/*}*/
/*.schedule__form-title {*/
/*    font-weight: bold;*/
/*    font-size: 80px;*/
/*    line-height: 112.5%;*/
/*    color: #D6D6D6;*/
/*    opacity: 0.5;*/
/*    position: relative;*/
/*    top: -14px;*/
/*    left: -28px;*/
/*}*/
/*.schedule__form-title span {*/
/*    opacity: 0.5;*/
/*    color: #0090F2;*/
/*}*/
/*.schedule__form-info.towns {*/
/*    margin-top: 20px;*/
/*    width: 44.44%;*/
/*}*/
/*.schedule__inputs-title {*/
/*    font-size: 20px;*/
/*    line-height: 112.5%;*/
/*    margin-bottom: 25px;*/
/*}*/
/*.schedule__inputs .input {*/
/*    border-radius: 50px;*/
/*    border: 1px solid #EAEAEA;*/
/*    padding: 12px 25px;*/
/*    max-width: 167px;*/
/*    background-color: #fff;*/
/*}*/
/*.schedule__inputs .input[disabled] {*/
/*    background-color: #eee;*/
/*}*/
/*.schedule__inputs {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.schedule__inputs .tire {*/
/*    margin: 0 10px;*/
/*}*/
/*.schedule__inputs .checkbox {*/
/*    margin-left: 63px !important;*/
/*}*/
/*.schedule__inputs .checkbox input {*/
/*    display: none;*/
/*}*/
/*.schedule__inputs .checkbox label {*/
/*    font-size: 16px;*/
/*    line-height: 112.5%;*/
/*    padding-left: 26px;*/
/*    position: relative;*/
/*}*/

/*.schedule__form .checkbox .jq-checkbox {*/
/*    border: 1px solid #EAEAEA;*/
/*    background: #fff;*/
/*    box-shadow: none;*/
/*    min-width: 16px;*/
/*    margin-top: 4px;*/
/*}*/
/*.schedule__form .jq-checkbox.checked {*/
/*    border: 1px solid #0090F2;*/
/*}*/
/*.schedule__form .jq-checkbox.checked .jq-checkbox__div {*/
/*    border: none;*/
/*    width: 12px;*/
/*    height: 12px;*/
/*    transform: none;*/
/*    background-color: #0090F2;*/
/*    margin: 1px;*/
/*}*/
/*.schedule__form .checkbox {*/
/*    margin: 0;*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*}*/
/*.schedule__form .checkbox label {*/
/*    padding-left: 0;*/
/*    font-size: 16px;*/
/*}*/

/*.schedule__form .radioButton {*/
/*    margin-bottom: 7px;*/
/*    width: 50%;*/
/*}*/
/*.schedule__form .radioButton input {*/
/*    display: none;*/
/*}*/
/*.schedule__form .radioButton label {*/
/*    position: relative;*/
/*    font-size: 16px;*/
/*    line-height: 112.5%;*/
/*    padding-left: 24px;*/
/*    font-weight: normal;*/
/*}*/
/*.schedule__form .radioButton label:before {*/
/*    content: '';*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    border-radius: 3px;*/
/*    border: 1px solid #EAEAEA;*/
/*    background-color: #fff;*/
/*    left: 0;*/
/*    top: 0;*/
/*    position: absolute;*/
/*}*/
/*.schedule__form .radioButton input:checked + label:before {*/
/*    border: 1px solid #0090F2;*/
/*}*/
/*.schedule__form .radioButton input:checked + label:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 2px;*/
/*    top: 2px;*/
/*    bottom: 2px;*/
/*    right: 2px;*/
/*    border-radius: 1px;*/
/*    width: 12px;*/
/*    height: 12px;*/
/*    background-color: #0090F2;*/
/*}*/



/*.schedule__selects {*/
/*    margin-bottom: 32px;*/
/*}*/
/*.schedule__selects .select {*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    width: 66.66%;*/
/*    background-color: #fff;*/
/*    border: 1px solid #EAEAEA;*/
/*    height: 44px;*/
/*    border-radius: 50px;*/
/*    margin-bottom: 15px;*/
/*}*/
/*.schedule__selects .select.disabled .select__selected {*/
/*    background-color: rgba(239,239,239,.3);*/
/*    pointer-events: none;*/
/*}*/
/*.schedule__selects .select.active {*/
/*    background-color: #fff;*/
/*    border-bottom: none;*/
/*    overflow: visible;*/
/*    z-index: 5;*/
/*}*/
/*.schedule__selects .select:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 15px;*/
/*    width: 12px;*/
/*    height: 12px;*/
/*    transform: translateY(-50%) rotate(0);*/
/*    transition: .3s;*/
/*    background-image: url("/img/icons/arrow-select.svg");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: 100%;*/
/*}*/
/*.schedule__selects .select.active:before {*/
/*    transform: translateY(-50%) rotate(180deg);*/
/*}*/
/*.schedule__selects .select__selected {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    height: 44px;*/
/*    padding-left: 25px;*/
/*    padding-right: 30px;*/
/*    position: relative;*/
/*    z-index: 2;*/
/*}*/
/*.schedule__selects .select__selected span {*/
/*    white-space: nowrap;*/
/*    text-overflow: ellipsis;*/
/*    overflow: hidden;*/
/*}*/
/*.schedule__selects .select__items {*/
/*    position: absolute;*/
/*    background-color: #fff;*/
/*    z-index: 1;*/
/*    left: 0px;*/
/*    width: calc(100% + 0px);*/
/*    top: 24px;*/
/*    padding-top: 20px;*/
/*    max-height: 300px;*/
/*    overflow: auto;*/
/*}*/
/*.schedule__selects .select__item {*/
/*    height: auto;*/
/*    padding: 0 25px;*/
/*    margin-bottom: 15px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    border-top: none;*/
/*    transition: .3s;*/
/*}*/
/* .schedule__selects ._elements .select__item {*/
/*    display: none;*/
/*}*/
/*.schedule__selects .select__item:hover,.select__item.active {*/
/*    color: #0090F2;*/
/*}*/
/*.schedule__selects .select__items .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .schedule__selects .select__items .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {*/
/*    background-color: #0090F2;*/
/*}*/
/*.schedule__selects .select__items .mCSB_scrollTools .mCSB_draggerRail {*/
/*    background-color: #E7E7E7;*/
/*}*/
/*.schedule__selects .select__items .mCSB_scrollTools {*/
/*    right: 13px;*/
/*}*/
/*.schedule__selects .select .error-message {*/
/*    display: none;*/
/*}*/

/*.schedule__inputs.checkboxes {*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*}*/
/*.schedule__inputs.checkboxes .checkbox {*/
/*    margin-left: 0 !important;*/
/*    margin-bottom: 12px;*/
/*}*/
/*.schedule__inputs.checkboxes.cities {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*}*/
/*.schedule__inputs.checkboxes.cities .checkbox {*/
/*    width: 50%;*/
/*}*/

/*.schedule__form-button {*/
/*    max-width: 359px;*/
/*    background: #0065C8;*/
/*    border-radius: 50px;*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*    line-height: 20px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    padding: 12px;*/
/*    cursor: pointer;*/
/*}*/


/*.schedule__info {*/
/*    margin-bottom: 116px;*/
/*}*/
/*.schedule__info-title {*/
/*    font-size: 25px;*/
/*    line-height: 28px;*/
/*    text-transform: uppercase;*/
/*    width: 100%;*/
/*    max-width: 400px;*/
/*    margin-bottom: 35px;*/
/*}*/
/*.schedule__info-items {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 0 -15px;*/
/*}*/
/*.schedule__info-item {*/
/*    width: 25%;*/
/*    padding: 0 15px;*/
/*}*/
/*.schedule__info-main {*/
/*    font-size: 20px;*/
/*    line-height: 22px;*/
/*    text-transform: uppercase;*/
/*    color: #0065C8;*/
/*    font-weight: bold;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.schedule__info-text {*/
/*    font-size: 14px;*/
/*    line-height: 17px;*/
/*}*/
/*.schedule__add span {*/
/*    color: #0090F2;*/
/*    border-bottom: 1px dashed #0090F2;*/
/*    cursor: pointer;*/
/*    margin-bottom: 22px;*/
/*    display: inline-block;*/
/*}*/

/*.question__form {*/
/*    background: #F4F4F4;*/
/*    padding: 66px 97px 65px 195px;*/
/*    position: relative;*/
/*}*/
/*.question__form:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: -113px;*/
/*    width: 306px;*/
/*    height: 369px;*/
/*    background-image: url(/img/worker.png);*/
/*    bottom: -8px;*/
/*}*/
/*.question__title {*/
/*    font-size: 20px;*/
/*    line-height: 25px;*/
/*    text-transform: uppercase;*/
/*    color: #0065C8;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.question__text {*/
/*    font-size: 16px;*/
/*    line-height: 20px;*/
/*    color: #5E5E5E;*/
/*    margin-bottom: 21px;*/
/*}*/
/*.question__form form {*/
/*    display: flex;*/
/*    margin-bottom: 20px;*/
/*}*/
/*.question__inputs .input {*/
/*    border-radius: 50px;*/
/*    border: 1px solid #EAEAEA;*/
/*    padding: 12px 25px;*/
/*    margin-right: 10px;*/
/*}*/
/*.question__button {*/
/*    font-size: 18px;*/
/*    line-height: 20px;*/
/*    color: #FFFFFF;*/
/*    background: linear-gradient(66.77deg, #0065C8 10.19%, #0090F2 85.13%);*/
/*    border-radius: 50px;*/
/*    padding: 12px 30px;*/
/*    margin-left: 22px;*/
/*}*/
/*.question__checkbox .jq-checkbox {*/
/*    border: 1px solid #C4C4C4;*/
/*    box-shadow: none;*/
/*    background: transparent;*/
/*    border-radius: 3px;*/
/*}*/
/*.question__checkbox .checkbox label {*/
/*    padding-left: 0;*/
/*}*/
/*.schedule__dates {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*!*.daterangepicker .calendar-table th.month {*!*/
/*!*    font-size: 18px;*!*/
/*!*    line-height: 112.5%;*!*/
/*!*    color: #011016;*!*/
/*!*    font-family: 'Fedra SansPro', sans-serif;*!*/
/*!*    font-weight: normal;*!*/
/*!*}*!*/
/*!*.daterangepicker th.empty {*!*/
/*!*    display: none;*!*/
/*!*}*!*/
/*!*.daterangepicker .calendar-table th {*!*/
/*!*    font-size: 14px;*!*/
/*!*    line-height: 150%;*!*/
/*!*    font-family: 'Fedra SansPro', sans-serif;*!*/
/*!*    font-weight: normal;*!*/
/*!*    color: #0090F2;*!*/
/*!*}*!*/
/*!*.daterangepicker .calendar-table td {*!*/
/*!*    min-width: 41px;*!*/
/*!*    width: 41px;*!*/
/*!*    height: 36px;*!*/
/*!*    border-radius: 0;*!*/
/*!*}*!*/
/*!*.daterangepicker td {*!*/
/*!*    font-weight: normal;*!*/
/*!*    font-size: 14px;*!*/
/*!*    line-height: 150%;*!*/
/*!*    color: #333;*!*/
/*!*    font-family: 'Fedra SansPro', sans-serif;*!*/
/*!*}*!*/
/*!*.daterangepicker td.off {*!*/
/*!*    color: #e5e5e5;*!*/
/*!*}*!*/
/*!*.daterangepicker .drp-calendar {*!*/
/*!*    max-width: none;*!*/
/*!*}*!*/
/*!*.daterangepicker {*!*/
/*!*    padding: 34px;*!*/
/*!*    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);*!*/
/*!*    border-radius: 20px;*!*/
/*!*}*!*/
/*!*.daterangepicker td.in-range {*!*/
/*!*    background: rgba(0, 157, 255, 0.2);*!*/
/*!*}*!*/
/*!*.daterangepicker td.active, .daterangepicker td.active:hover {*!*/
/*!*    background: linear-gradient(180deg, #0090F2 0%, #008EF0 100%);*!*/
/*!*}*!*/
/*!*.daterangepicker td.available:hover, .daterangepicker th.available:hover {*!*/
/*!*    background: rgba(0, 157, 255, 0.2);*!*/
/*!*    border: none;*!*/
/*!*}*!*/
/*!*.daterangepicker td.start-date, .daterangepicker td.end-date, .daterangepicker td.start-date.end-date {*!*/
/*!*    border-radius: 0;*!*/
/*!*}*!*/
/*!*.daterangepicker .drp-calendar.left {*!*/
/*!*    padding: 0;*!*/
/*!*}*!*/

/*.schedule__selects-items.disabled {*/
/*    pointer-events: none;*/
/*}*/
/*.schedule__selects-items.disabled .schedule__selects .select, .schedule__selects-items.disabled .schedule__selects .select__selected {*/
/*    background-color: #f2f2f2;*/
/*}*/


/*.datepicker .datepicker-switch {*/
/*    font-size: 18px;*/
/*    line-height: 112.5%;*/
/*    font-weight: normal;*/
/*    background-color: #fff !important;*/
/*}*/
/*.datepicker .prev, .datepicker .next {*/
/*    font-size: 0;*/
/*    background-image: url("/img/icons/arrow-datepicker.svg");*/
/*    width: 24px;*/
/*    height: 11px;*/
/*    background-position: top;*/
/*    background-repeat: no-repeat;*/
/*}*/
/*.datepicker .prev {*/
/*    transform: rotate(180deg);*/
/*    background-position: bottom;*/
/*}*/
/*.datepicker {*/
/*    padding: 34px;*/
/*    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);*/
/*    border-radius: 20px;*/
/*}*/
/*.datepicker-dropdown.datepicker-orient-bottom:after, .datepicker-dropdown.datepicker-orient-bottom:before {*/
/*    display: none;*/
/*}*/
/*.datepicker .prev:hover, .datepicker .next:hover {*/
/*    background: url("/img/icons/arrow-datepicker.svg") top no-repeat;*/
/*}*/
/*.datepicker .prev:hover {*/
/*    background: url("/img/icons/arrow-datepicker.svg") bottom no-repeat;*/
/*}*/
/*.table-condensed>thead>tr>th {*/
/*    padding-bottom: 20px;*/
/*}*/
/*.table-condensed>thead>tr>th.dow {*/
/*    font-size: 14px;*/
/*    line-height: 150%;*/
/*    font-weight: normal;*/
/*    color: #0090F2;*/
/*    padding-bottom: 15px;*/
/*}*/
/*.datepicker .day {*/
/*    width: 42px;*/
/*    height: 37px;*/
/*    border-radius: 0;*/
/*}*/
/*.datepicker .day:hover {*/
/*    background: rgba(0, 157, 255, 0.2) !important;*/
/*}*/
/*.datepicker .day.active {*/
/*    background: #0090F2 !important;*/
/*    color: #333333 !important;*/
/*}*/